@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

nav {
  font-family: "Baskervville SC", serif;
  font-size: larger;
  font-weight: 400;
  position: sticky !important;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0px 5px 8px rgb(204, 229, 18);
  z-index: 10;
}

body {
  background-color: black;
}

.navbar-brand:hover {
  font-weight: 600;
  letter-spacing: 4px;
  color: yellow !important;
}

.nav-link {
  color: white !important;
  border-bottom: 1px solid transparent;
}

.nav-link:hover {
  border-bottom: 2px solid yellow;
}

section {
  width: 100%;
  min-height: 100vh;
}

#home {
  background-color: black;
  width: 100%;
  height: 100vh;
}

#home .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home h1 {
  color: white;
}

span {
  color: yellow;
  font-family: "Dancing Script", cursive;
}

.detel {
  max-width: 50%;
}

.detel p {
  text-align: justify;
  color: white;
}

.imgg img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0;
  transition: transform 0.3s ease;
}
.imgg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgg img:hover {
  transform: scale(1.4);
  filter: drop-shadow(1px 1px 20px rgb(246, 255, 0));
}

@media screen and (max-width: 576px) {
  #home {
    padding-bottom: 50px; /* Adjust bottom padding as needed */
  }

  #home .container {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items */
  }

  #home .details {
    text-align: center; /* Center align text */
    margin-bottom: 20px;
    margin-top: 50px; /* Optional: Adjust margin as needed */
  }

  @media screen and (max-width: 576px) {
    .imgg img:hover {
      transform: scale(1.4);
      filter: drop-shadow(1px 1px 20px rgb(246, 255, 0));
    }
  }
}

/*ABOUT ME*/

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  height: 100vh;
  /* Ensure it takes full viewport height */
}

.circle {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 2px 2px 30px rgb(5, 5, 5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: width 2s, height 2s, border-radius 2s;
}

.circle img {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: left 2s, width 3s, height 3s, top 3s;
}

.circle:hover {
  width: 900px;
  height: 500px;
  border-radius: 10px;
}

.circle:hover img {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: 100%;
}
.circle:hover .content {
  width: 60%;
  color: white;
  right: 0%;
  position: absolute;
  text-wrap: pretty;
  opacity: 1;
  transition: 1s;
}
.circle .content {
  opacity: 0;
}

@media screen and (max-width: 576px) {
  .circle {
    position: relative;
    width: 400px; /* Initial size */
    height: 400px; /* Initial size */
    background-color: black;
    border-radius: 50%;
    box-shadow: 2px 2px 30px rgb(5, 5, 5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: width 2s, height 2s, border-radius 2s;
  }

  .circle:hover {
    width: 400px; /* Expanded size */
    height: 600px; /* Expanded size */
    border-radius: 10px; /* Smaller border-radius on hover */
  }

  .circle img {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    transition: transform 1.3s ease;
  }

  .circle:hover img {
    transform: translateY(-50%) scale(0); /* Hide image on hover */
  }

  .circle .content {
    position: absolute;
    text-align: center;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .circle:hover .content {
    opacity: 1; /* Show content on hover */
    text-align: start;
  }
}

#skills {
  background-color: black;
}
.progress-container {
  margin-top: 100px;
  height: 80px;
}
.progress-bar {
  background-color: rgb(7, 247, 235);
}
label {
  color: white;
  margin-right: 20px;
}
.progress-bar {
  color: black;
}

#projects {
  background-color: yellow;
  padding: 50px 0;
}

.flip-card {
  width: 100%;
  height: 300px;
  perspective: 1000px;
  display: inline-flex;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.flip-card-front {
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flip-card-back {
  background-color: black !important;
  transform: rotateY(180deg);
  flex-direction: column;
  display: flex;

  align-items: center;
  justify-content: center;
}

.project-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
}
.progress-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.progress {
  flex-grow: 1;
  margin-right: 1rem;
}
.image-container img {
  width: 100px; /* Adjust the size as needed */
}
.progress-bar-yellow {
  background-color: yellow !important;
  color: black !important;
  font-weight: 800;
  font-size: larger;
}
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.flip-card-front {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgb(231, 183, 100) 0%,
    rgba(230, 29, 72, 1) 30%,
    rgba(252, 176, 69, 1) 100%
  );
  color: rgb(255, 255, 255);
}

.flip-card-front p {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
.project-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.imgg-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgg img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.imgg img:hover {
  transform: scale(1.4);
  filter: drop-shadow(1px 1px 20px rgb(246, 255, 0));
}

.fa-instagram {
  font-size: larger;
  margin-right: 20px;
  margin-left: 20px;
}

.fa-linkedin {
  font-size: larger;
  margin-right: 20px;
  margin-left: 20px;
}
.fa-github {
  font-size: 50px;
}

#contact {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  color: white;
}

/* Social Media Icons */
.ima {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ima a {
  width: 80px;
  height: 80px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  margin: 0 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  transition: transform 0.3s ease-in-out;
  background-color: #0c0c0c;
}

.ima a:hover {
  transform: scale(1.2);
}
.contact-text {
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.ima .fa-instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  border-radius: 10px;
}

.ima .fa-linkedin:hover {
  background-color: #1d9bf0;
  border-radius: 10px;
}

.ima .fa-github:hover {
  background-color: #333;
  border-radius: 10px;
}
.ima .fa-envelope:hover {
  background: linear-gradient(45deg, #d93025, #ea4335, #fbbc05, #34a853);
  border-radius: 10px;
}
.ima .fa-envelope {
  font-size: larger;
}
.contact-text {
  text-align: center;
  color: white;
  margin-top: 20px;
}

@media screen and (max-width: 576px) {
  .contact-text {
    margin-top: 10px;
  }
}

@media screen and (max-width: 576px) {
  .ima {
    flex-direction: column;
  }

  .ima a {
    margin: 10px 0;
  }

  .contact-text {
    margin-top: 10px;
  }
}
#ph h1 {
  font-family: "Playwrite AU VIC", cursive;
  font-weight: 400;
  color: #fffefe;
}
#contact {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(230, 29, 186, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .details,
  .imgg-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .imgg img {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
  }

  .circle {
    padding: 10px;
  }

  .content {
    padding: 10px;
  }

  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }
}

/* Media query for large smartphones and small tablets in landscape mode */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .details,
  .imgg-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .imgg img {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
  }

  .circle {
    padding: 10px;
  }

  .content {
    padding: 10px;
  }

  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }
}

/* Media query for small smartphones */
@media (max-width: 480px) {
  .container {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .details,
  .imgg-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .imgg img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .circle {
    padding: 5px;
  }

  .content {
    padding: 5px;
  }

  h1 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.9em;
  }
}
